<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/auth.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <title>Logowanie</title>
</head>

<body>

    <main>
        <header>
            <h1>Zaloguj się</h1>
        </header>
        <section>
            <div class="inputGroup">
                <h3>Nazwa użytkownika</h3>
                <input id="login" placeholder="Twoja nazwa użytkownika" type="text" />
            </div>
            <div class="inputGroup">
                <h3>Hasło</h3>
                <input id="password" placeholder="Twóje hasło" type="password" />
            </div>
            <div id="buttons">
                <button id="loginBtn">Zaloguj się</button><br />
                <a href="register.html" id="registerBtn">Zarejestruj się</a>
            </div>
        </section>
        <footer>
            <span>Projekt z IO</span>
        </footer>
    </main>

    <script src="js/login.js"></script>
</body>

</html>